<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <springProperty scope="context" name="applicationName" source="spring.application.name" defaultValue="lib-common-data"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [${applicationName}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.firefly.common.data" level="INFO"/>
    <logger name="com.firefly.common.eda" level="INFO"/>
    <logger name="com.firefly.common.cqrs" level="INFO"/>
    <logger name="com.firefly.transactional" level="INFO"/>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
